@mixin flex-wrapper (
    $space: 30px, 
    $space-l: 30px, 
    $space-m: 15px, 
    $space-s: 15px
) {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    margin-bottom: -$space;

    @include media-l {
        margin-bottom: -$space-l;
    }

    @include media-m {
        margin-bottom: -$space-m;
    }

    @include media-s {
        margin-bottom: -$space-s;
    }

    > * {
        margin-top: 0;
        margin-bottom: $space;
        margin-right: $space;

        @include media-l {
            margin-bottom: $space-l;
            margin-right: $space-l;
        }

        @include media-m {
            margin-bottom: $space-m;
            margin-right: $space-m;
        }
        
        @include media-s {
            margin-bottom: $space-s;
            margin-right: $space-s;
        }
    }
}

@mixin flex-direction($direction) {
    display: flex;
    flex-direction: $direction;
}

@mixin hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar {
        display: none;
    }
}

@mixin absolute-center {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    margin: auto;
}